.main-slider {
    .slick {
        &-slide {
            img {
                width: 100%;
            }
        }
        &-dots {
            display: flex !important;
            align-items: center;
            justify-content: flex-end;
            background-color: rgba(0, 0, 0, 0.4);
            bottom: 3px;
            backdrop-filter: blur(4.5px);
            height: 58px;
            padding-right: 120px;
    
            li  {
                width: 10px;
                height: 0px;
                padding: 0px;
                margin: 0px;
                margin-right: 5px;
    
                &.slick-active {
                    button {
                        &::before {
                            background-color: transparent;
                            opacity: 1;
                        }
                    }
                }
                button {
                    &:before {
                        content: '';
                        width: 9px;
                        height: 9px;
                        border: 1px solid white;
                        border-radius: 100%;
                        background-color: white;
                        opacity: 1;
                        font-size: 8px;
                    }
                }
            }
        }
    
    }
}

