.header {
  &-top {
    width: 100%;
    border-bottom: 1px solid #89919a;
  }
  &-bottom {
    padding: 25px 25px 15px 25px;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0px 15px 0px;

    .search {
      &-wrapper {
        display: flex;
      }
      &-box {
        width: 680px;
        height: 38px;
        border: 1px solid #89919a;
        border-radius: 4px;
        display: flex;

        @media(max-width: 820px) {
            width: 350px;
        }
      }
      &-content {
        width: calc(100% - 132px);
        border: none;
        border-radius: 4px 0px 0px 4px;
        padding: 8px 16px;
      }
      &-categories {
        width: 132px;
        background-color: #f4f5f6;

        .MuiOutlinedInput-notchedOutline {
          border: 0px;
          border-radius: 0px 4px 4px 0px;
        }
      }
      &-button {
        padding: 12px 47px !important;
        height: 38px;
        margin-left: 10px !important;
        background-color: $theme-blue;
      }
    }
  }
}

// .MuiMenu-list {
//     color: white;
//     background-color: #00254F;
//     padding: 12px !important;

//     .Mui-selected {
//         background-color: #0059BC !important;
//     }
// }
