.nav {
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    position: relative;

    &-item {
      margin-right: 35px;
      &:last-child {
        margin-right: 0px;
      }

      &-link {
        text-decoration: none;
        color: #6a6d70;
        padding-bottom: 10px;
        display: block;
        width: max-content;
        border-bottom: 2px solid transparent;

        &-title {
          color: #6a6d70;
        }

        &:hover {
          border-bottom-color: $theme-blue;

          .sub {
            display: block;
            top: 28px;
          }
        }
      }
      .sub {
        position: absolute;
        width: 100%;
        left: 0px;
        right: 0px;
        background-color: #f4f5f6;
        padding: 30px 50px;
        display: none;
        z-index: 999999999;

        .sub-menu {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 300px;

          &-title {
            margin-bottom: 10px;
          }
          &-item {
            margin-bottom: 10px;

            &-link {
              color: #000000;
            }
          }
        }
      }
    }
  }
}
